{% extends "_layouts/cp" %}

{% set title = "Export"|t %}

{% includeJsResource 'export/lib/jquery-ui.min.js' %}
{% includeJsResource 'export/js/export.js' %}

{% import "_includes/forms" as forms %}

{% set content %}
    <form method="post" action="" class="centered" accept-charset="utf-8">
        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="export/download">

        {% for key, value in export if key != 'elementvars' %}
            <input type="hidden" name="export[{{ key }}]" value="{{ value }}">
        {% endfor %}

        {% for key, value in export.elementvars %}
            {% if value is iterable %}
                {% for subvalue in value %}
                    <input type="hidden" name="export[elementvars][{{ key }}][]" value="{{ subvalue }}">
                {% endfor %}
            {% else %}
                <input type="hidden" name="export[elementvars][{{ key }}]" value="{{ value }}">
            {% endif %}
        {% endfor %}

        <p>{{ "Choose which fields you want to export."|t }}</p>

        <table class="data sortable">
            <tbody>
        {% set fields = craft.export.getFields(export.type, reset) %}
        {% for handle, data in fields %}
            <tr>
                <td>
                    <div class="field">
                        <div class="heading">
                            <label>{{ data.name }}</label>
                            <input type="hidden" name="fields[{{ handle }}][name]" value="{{ data.name }}">
                            {% if data.entrytype is defined %}<input type="hidden" name="fields[{{ handle }}][entrytype]" value="{{ data.entrytype }}">{% endif %}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="field">
                        <div class="heading">
                            <label>{{ "as"|t }}</label>
                            <input type="text" class="text" name="fields[{{ handle }}][label]" value="{{ data.label is defined ? data.label : data.name }}">
                        </div>
                    </div>
                </td>
                <td>
                    {{ forms.checkboxField({
                        label: 'Include in export'|t,
                        instructions: "This value will be included in the export file."|t,
                        name: "fields[" ~ handle ~ "][checked]",
                        checked: data.checked
                    }) }}
                </td>
            </tr>
        {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" style="border-bottom: none; padding-top:20px">
                        <input type="submit" class="btn submit js-btn-export" value="{{ 'Export'|t }}">
                        <div class="spinner js-export-spinner hidden"></div>
                    </td>
                </tr>
            </tfoot>
        </table>

    </form>
{% endset %}
